@import url('https://fonts.googleapis.com/css2?family=Antonio&family=PT+Serif&family=Source+Sans+Pro:wght@300&display=swap');

/*
  font-family: 'Antonio';
  font-family: 'PT Serif';
  font-family: 'Source Sans Pro';
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*      SIDEBAR     */

/* LOGO */
p {
  color: white;
  font-size: 26px;
  margin: 30px 20px 60px 40px;
  font-weight: bold;
  display: inline-flex;
  font-family: 'Antonio', sans-serif;
}

span {
  color: red;
}

.checkbtn{
  line-height: 80px;
  font-size: 30px;
  color: white;
  margin: auto 30px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #303030; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav a {
  margin-right: 50px;
  min-width: 250px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:block;
}

.sidenav a:hover {border-bottom: 1px solid red;}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 250px;
  display: none;
}

ul li ul li { 
  background: #555; 
  display: block; 
}

ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #303030;}

/*      .nav     */
.nav {
  margin-left: 250px;
  width: 100%;
  top: 0;
  height: 80px;
  background: #303030;
  position: fixed; /* Fixed .navbar (stay in place on scroll) */
  z-index: 9; /* Stay on top */
  border-bottom: 1px solid white; 
}


/* Style page content */
.laman {
    background: #202020;
    color: #fff;
    height: 496px;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 130px 20px 30px 20px;
    font-family: 'PT Serif', serif;
    justify-content: all;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (max-width: 768px){

  .checkbtn {
    display: block;
    transition: left .6s;
  }
  
  .sidenav {
    left: -200px;
    width: 200px;
    transition: left .6s;
  }
  .sidenav a { font-size: 15px;}
  p { font-size: 18px; 
    margin-bottom: 20px;}

  .laman {margin-left: 0;}
  .nav {margin-left: 0;}

   #check:checked ~  .sidenav{left: 0;}
   #check:checked ~  .checkbtn{margin-left: 220px;}
   #check:checked ~  .laman{left: 200px;}

  }


  .buttons{
  text-align: center;
  padding: 30px 100px;
  margin-left: 25px;
}
.buttons button{
  margin-right: 25px;
  height: 50px;
  width: 150px;
  font-size: 18px;
  font-weight: 600;
  color: white;
  background: black;
  outline: none;
  cursor: pointer;
  border: 2px solid white;
  border-radius: 25px;
  transition: .7s;
}
.buttons .btn2{
  border-radius: 1px;
  font-style: italic;
  color: black;
  background: white;
  border: 2px solid black;
}
.buttons .btn3 {
  color: #BF96E0;
  font-size: 25px;
  -webkit-text-stroke: 1px #272727;
  background: url(./angry.png);
}
.buttons .btn1:hover{
  opacity: 0.3;
}
.buttons .btn2:hover{
  color: white;
  background: black;
  border: 2px solid white;
}
.buttons .btn3:hover{
  color: rgba(128,128,128,0);
  -webkit-text-stroke: 0px;
  border: 2px solid red;
}


@media screen and (max-width: 768px) {

.buttons button{
  margin-right: 15px;
  margin-top: 10px;
  height: 50px;
  width: 180px;
  font-size: 16px;
}
}
