@import url('https://fonts.googleapis.com/css2?family=Antonio&family=PT+Serif&family=Source+Sans+Pro:wght@300&display=swap');

/*
  font-family: 'Antonio';
  font-family: 'PT Serif';
  font-family: 'Source Sans Pro';
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*      SIDEBAR     */

/* LOGO */
p {
  color: white;
  font-size: 26px;
  margin: 30px 20px 60px 40px;
  font-weight: bold;
  display: inline-flex;
  font-family: 'Antonio', sans-serif;
}

span {
  color: red;
}

.checkbtn{
  line-height: 80px;
  font-size: 30px;
  color: white;
  margin: auto 30px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #303030; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav a {
  margin-right: 50px;
  min-width: 250px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:block;
}

.sidenav a:hover {border-bottom: 1px solid red;}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 250px;
  display: none;
}

ul li ul li { 
  background: #555; 
  display: block; 
}

ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #303030;}

/*      .nav     */
.nav {
  margin-left: 250px;
  width: 100%;
  top: 0;
  height: 80px;
  background: #303030;
  position: fixed; /* Fixed .navbar (stay in place on scroll) */
  z-index: 9; /* Stay on top */
  border-bottom: 1px solid white; 
}


/* Style page content */
.laman {
    background: #202020;
    color: #fff;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 130px 20px 30px 20px;
    font-family: 'PT Serif', serif;
    justify-content: all;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (max-width: 768px){

  .checkbtn {
    display: block;
    transition: left .6s;
  }
  
  .sidenav {
    left: -200px;
    width: 200px;
    transition: left .6s;
  }
  .sidenav a { font-size: 15px;}
  p { font-size: 18px; 
    margin-bottom: 20px;}

  .laman {margin-left: 0;}
  .nav {margin-left: 0;}

   #check:checked ~  .sidenav{left: 0;}
   #check:checked ~  .checkbtn{margin-left: 220px;}
   #check:checked ~  .laman{left: 200px;}

  }



  /*    TABLE   */


  .taas {
    width: 100%;
    font-size: 70px;
    text-align: center;
  }

  .sy {
    margin-bottom: 30px;
    font-size: 20px;
    font-weight: bold;
    color: #ccc;
  }

  table {
    padding: 20px;
    margin: 40px auto 30px auto;
    width: 95%;
    background: rgba(0,0,0,0.5);
    border-radius: 25px;
  }

  th {
    height: 40px;
    text-align: center;
    background: orange;
    min-width: 30px;
    max-width: 31px;
  }

  tr td {
    color: black;
    height: 30px;
    margin: 20px;
    text-align: center;
    min-width: 10px;
    max-width: 15px;
    background: white;
    font-size: 20px;
    border-radius: 5px;
    transition: 0.6s;
  }

  tr td:hover {
    background: transparent;
    outline: 5px solid black;
    border-radius: 10px;
    text-shadow: 0 0 3px #FFFFFF;
  }

  .time {
    text-align: right;
    background: #c0c0c0;
    padding-right: 30px;
  }

  tr td p {
    font-size: 17px;
    color: black;
    text-align: center;
  }

  .hide {display: none;}

  .GNED01 {
    background: #96EAFE;
  }

  .GNED03 {
    background: #9BFE96;
  }

  .GNED12 {
    background: #FE1D07;
    color: white;
  }

  .FITT2 {
    background: #FAEB4D;
  }

  .GNED06 {
    background: #F5A22A;
  }

  .DCIT23 {
    background: #239513;
    color: white;
  }

  .ITEC50 {
    background: #FFB7F7;
  }

  .DCIT21 {
    background: #AD9B81;
  }

  .DCIT22 {
    background: #505AFF;
    color: white;
  }


@media (max-width: 858px){

  .taas {
    font-size: 40px;
  }

  .sy {
    font-size: 15px;
  }

  td,th {
    font-size: 15px;
  }
  .time {font-size: 13px;
    padding: 10px;}

  tr td {
    font-size: 16px;
  }

  p {
    font-size: 12px;
    padding: 10px;
  }

  .hide {display: initial;}
  .show {display: none;}