*
{
		margin: 0;
		padding: 0;
}
/*-------Navigation-------*/
.main {
	width: 1170px;
	margin: 0 auto;
}
header {
	height: 100px;
	background: #262626;
	width: 100%;
	z-index: 20;
	position: fixed;
}
.logo {
	width: 30%;
	float: left;
	line-height: 100px;
}
.logo a {
	text-decoration: none;
	font-size: 40px;
	font-family: poppins;
	color: #fff;
	letter-spacing: 2px;
}

nav {
	float: right;
	line-height: 100px;
}
nav a {
	text-decoration: none;
	font-family: "Montserrat", sans-serif;
	letter-spacing: 4px;
	font-size: 20px;
	padding: 6px 13px;
	margin: 0 10px;
	color: #fff;
	transition: 0.4s;
}
.menu a.active,
.menu a:hover{
	background-color: white;
	border-radius: 10px;
	background-size: 300px 100px;
	color: black;
}
  /*-------Slider-------*/
  #slider
  {
	  width: 100%;
	  header: 70%;
  }
  .carousel-caption
  {
	  top: 50%;
	  transform: translateY(-50%);
	  bottom: initial!important;
  }
  .carousel-caption h5
  {
	  color: #fff;
	  font-size: 80px;
      text-shadow:
      -2px -2px 0 #000,
      2px -2px 0 #000,
      -2px 2px 0 #000,
      2px 2px 0 #000; 
  }
  
  /*----------------About me----------------*/
  #about-me
  {
	  padding: 40px 0;
	  background: #efefef;
  }
  .part1
  {
	  margin: 10px auto;
	  display: inline;
	  float: left;
	  width: 100%;
	  background-color: gray ;
	  transition: 0.5S;
  }
  .part1:hover{
	  box-shadow: 0 5px 30px #085274;
  }
  .title
  {
	  background-color: black;
	  display: inline;
	  float: left;
	  padding: 10px 5px;
	  text-align: center;
	  width: 100%;
	  height: 115px;
  }
  .title h2
  {
	  color: #fff;
	  font-size: 26px;
	  font-weight: bold;
	  margin-bottom: 5px;
	  padding: 5px;
	  text-transform: uppercase;
  }
  .content
  {
	  float: left;
	  width: 100%;
	  height: 365px;
	  padding: 0 15px;
	  text-align: justify;
	  font-size: 16px;
	  border-bottom: 1px solid #efefef;
	  padding: 15px 10px;
  }
  
    /*--------Skills--------*/
  #skills
  {
	  background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)),url(pano.jpg);
	  background-size: cover;
	  background: black;
	  background-position: center;
	  color: white !important;
	  background-attachment: fixed;
	  padding-top: 50px;
	  padding-bottom: 50px;
  }
  #skills h1
  {
	  text-align: center;
	  color: white!important;
	  padding-bottom: 10px;
  }
  #skills h1::after
  {
	  content: '';
	  background: white;
	  color: black;
	  display: block;
	  height: 3px;
	  width: 170px;
	  margin: 20px auto 5px;
  }
  .skills
  {
	  margin-top: 40px;
  }
  .icon
  {
	  font-size: 40px;
	  margin: 20px auto;
	  padding: auto;
	  height: 65px ;
	  width: 65px ;
	  border: 2px solid white;
	  border-radius: 50%;
  }
  
  #skills p
  {
	  font-size: 18px;
	  margin-top: 20px;
	  color: white;
  }
  .skills .col-md-4:hover{
	  background: #909090;
	  border-radius: 15px;
	  cursor: pointer;
	  transition: 0.7s;
  }

  