@import url('https://fonts.googleapis.com/css2?family=Antonio&family=PT+Serif&family=Source+Sans+Pro:wght@300&display=swap');

/*
  font-family: 'Antonio';
  font-family: 'PT Serif';
  font-family: 'Source Sans Pro';
*/

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

/*      SIDEBAR     */

/* LOGO */
p {
  color: white;
  font-size: 26px;
  margin: 30px 20px 60px 40px;
  font-weight: bold;
  display: inline-flex;
  font-family: 'Antonio', sans-serif;
}

span {
  color: red;
}

.checkbtn{
  line-height: 80px;
  font-size: 30px;
  color: white;
  margin: auto 30px;
  cursor: pointer;
  display: none;
}

#check{
  display: none;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 250px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  z-index: 10; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #303030; /* Black */
  overflow-x: hidden; /* Disable horizontal scroll */
}

.sidenav a {
  margin-right: 50px;
  min-width: 250px;
  text-decoration: none;
  color: white;
  font-size: 20px;
  padding: 15px;
  display:block;
}

.sidenav a:hover {border-bottom: 1px solid red;}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}

ul li {display: inline-block;}
ul li:hover {background: #555;}
ul li:hover ul {display: block;}
ul li ul {
  position: absolute;
  width: 250px;
  display: none;
}

ul li ul li { 
  background: #555; 
  display: block; 
}

ul li ul li a {display:block !important;} 
ul li ul li:hover {background: #303030;}

/*      .nav     */
.nav {
  margin-left: 250px;
  width: 100%;
  top: 0;
  height: 80px;
  background: #303030;
  position: fixed; /* Fixed .navbar (stay in place on scroll) */
  z-index: 9; /* Stay on top */
  border-bottom: 1px solid white; 
}


/* Style page content */
.laman {
    background: #202020;
    color: #fff;
    margin-left: 250px; /* Same as the width of the sidebar */
    padding: 130px 20px 30px 20px;
    font-family: 'PT Serif', serif;
    justify-content: all;
}


/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media (max-width: 768px){

  .checkbtn {
    display: block;
    transition: left .6s;
  }
  
  .sidenav {
    left: -200px;
    width: 200px;
    transition: left .6s;
  }
  .sidenav a { font-size: 15px;}
  p { font-size: 18px; 
    margin-bottom: 20px;}

  .laman {margin-left: 0;}
  .nav {margin-left: 0;}

   #check:checked ~  .sidenav{left: 0;}
   #check:checked ~  .checkbtn{margin-left: 220px;}
   #check:checked ~  .laman{left: 200px;}


  }



  /*      = = = = = = SLIDER = = = = = = =       */

  #slider {
     margin: 80px auto;
     width: 800px;
     max-width: 100%;
     text-align: center;
  }
  #slider input[type=radio] {
     display: none;
  }
  #slider label {
     cursor:pointer;
     text-decoration: none;
  }
  #slides {
     padding: 10px;
     border: 3px solid #ccc;
     background: #fff;
     position: relative;
     z-index: 1;
  }
  #overflow {
     width: 100%;
     overflow: hidden;
  }
  #slide1:checked ~ #slides .inner { margin-left: 0; }
  #slide2:checked ~ #slides .inner { margin-left: -100%; }
  #slide3:checked ~ #slides .inner { margin-left: -200%; }
  #slide4:checked ~ #slides .inner { margin-left: -300%; }
  #slides .inner {
     transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
     width: 400%;
     line-height: 40px;
     height: 300px;
  }
  #slides .slide {
     font-size: 40px;
     width: 25%;
     float:left;
     display: flex;
     justify-content: center;
     align-items: center;
     height: 100%;
     color: #fff;
  }
  #slides .slide_1 { background: #26DF4B;}
  #slides .slide_2 { background: #228B22;}
  #slides .slide_3 { background: #008000;}
  #slides .slide_4 { background: #006400;}

  #controls {
     margin: -180px 0 0 0;
     width: 100%;
     height: 50px;
     z-index: 3;
     position: relative;
  }
  #controls label {
     transition: opacity 0.2s ease-out;
     display: none;
     width: 50px;
     height: 50px;
     opacity: .4;
  }
  #controls label:hover {
     opacity: 1;
  }
  #slide1:checked ~ #controls label:nth-child(2),
  #slide2:checked ~ #controls label:nth-child(3),
  #slide3:checked ~ #controls label:nth-child(4),
  #slide4:checked ~ #controls label:nth-child(1) {
     background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
     float:right;
     margin: 0 -50px 0 0;
     display: block;
  }
  #slide1:checked ~ #controls label:nth-last-child(1),
  #slide2:checked ~ #controls label:nth-last-child(4),
  #slide3:checked ~ #controls label:nth-last-child(3),
  #slide4:checked ~ #controls label:nth-last-child(2) {
     background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
     float:left;
     margin: 0 0 0 -50px;
     display: block;
  }
  #bullets {
     margin: 150px 0 0;
     text-align: center;
  }
  #bullets label {
     display: inline-block;
     width: 10px;
     height: 10px;
     border-radius:100%;
     background: #ccc;
     margin: 0 10px;
  }
  #slide1:checked ~ #bullets label:nth-child(1),
  #slide2:checked ~ #bullets label:nth-child(2),
  #slide3:checked ~ #bullets label:nth-child(3),
  #slide4:checked ~ #bullets label:nth-child(4) {
     background: crimson;
  }

  /*      = = = = = = BASIC INFO = = = = = = =       */

  .info {
    width: 90%;
    margin: auto;
    padding-top: 40px;
    top: 50%;
    left: 50%;
    text-align: center;
  }

  .info h1 {
    font-size: 62px;
    color: white;
    font-weight: 600px; 
  }

  .info p {
    margin: 10px 0 40px;
    font-size: 25px;
    color: #ccc;
  }

  .click {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 2px solid #fff;
    padding: 12px 34px;
    font-size: 18px;
    background: transparent;
    position: relative;
    cursor: pointer;
  }

  .click:hover {
    border: 2px solid crimson;
    background: #333;
    transition: .8s;
    font-weight: 600;
  }

  .row {
    padding-top: 40px;
    margin-top: 5%;
    display: flex;
    justify-content: space-between;
  }

  .info-col {
    color: white;
    flex-basis: 31%;
    background: #262626;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: .7s;
  }

    .info-col h3 {
      font-size: 23px;
      margin: 10px 0
    }
    .info-col p {
      margin: 15px 30px;
      font-size: 18px;
      color: #ccc;
      text-align:justify;
    }

    .info-col:hover {
      box-shadow: 0 0 20px 0 crimson;
    }


  /*      = = = = = = SKILLS = = = = = = =       */

  .skills {
    width: 95%;
    margin: auto;
    text-align: center;
    padding-top: 20px;
    background-size: cover;
    background: black;
    background-position: center;
    color: white !important;
    background-attachment: fixed;
    padding-bottom: 50px;
    border-radius: 25px;
  }

  .skills h1 {
    margin: 15px 20px;
    color: white; 
    font-size: 62px;
    font-weight: 600px
  }
  .row-skills {
    padding-top: 10px;
    margin: 20px;
    display: flex;
    justify-content: space-between;
  } 

  .skills-col {
    color: white;
    flex-basis: 31%;
    background: #262626;
    border-radius: 10px;
    padding: 12px 25px;
    box-sizing: border-box;
    transition: .7s;
  }

    .skills-col h3 {
      font-size: 23px;
      margin: 12px 20px;
      text-align:center;
    }
    .skills-col p {
      margin: 15px 30px;
      font-size: 18px;
      color: #ddd;
      text-align:center;
    }

    .skills-col:hover {
      box-shadow: 0 0 20px 0 rgba(255,28,0,0.6);
    }


@media (max-width: 858px){


  /*      = = = = = = SLIDER = = = = = = =       */


   #slides .slide {
      font-size: 35px;
    }
    #slides .inner {
      line-height: 40px;
    }
    #slides {
        max-width: calc(100% - 150px);
        margin: 0 auto;
     }


  /*      = = = = = = SKILLS = = = = = = =       */

     .row {
      padding-top: 28px;
      flex-direction: column;
     }

     .row-skills {
      padding: 0px 20px 20px 20px;
      flex-direction: column;
     }

     .skills-col {
      margin: 20px;
     }

  }

  @media screen and (max-width: 500px) {

    /*      = = = = = = SLIDER = = = = = = =       */
    
    #slides .slide {
      font-size: 28px;
    }
    #slides {
        max-width: calc(100% - 160px);
        margin: 0 auto;
     }
    .info h1 {
      font-size: 25px;
    }
    .info p {
      font-size: 18px;
    }

  }

  @media screen and (max-width: 900px) {
     #slide1:checked ~ #controls label:nth-child(2),
     #slide2:checked ~ #controls label:nth-child(3),
     #slide3:checked ~ #controls label:nth-child(4),
     #slide4:checked ~ #controls label:nth-child(1),
     #slide1:checked ~ #controls label:nth-last-child(1),
     #slide2:checked ~ #controls label:nth-last-child(4),
     #slide3:checked ~ #controls label:nth-last-child(3),
     #slide4:checked ~ #controls label:nth-last-child(2) {
        margin: 0;
     }
     #slides {
        max-width: calc(100% - 140px);
        margin: 0 auto;
     }
  }

  .info {
        padding-top: 10px;
  }

}

