*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
body{
  font-family: montserrat;
}

/*      = = = = = = NAV BAR = = = = = = =       */

nav{
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background-color: blue;
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(https://static.wikia.nocookie.net/my-hero-academia-fanon/images/3/3b/Flames.png/revision/latest?cb=20190112010359) no-repeat;
  height: 80px;
  width: 100%;
  z-index: 40;
}
label.logo{
  color: white;
  font-size: 35px;
  line-height: 80px;
  padding: 0 100px;
  font-weight: bold;
}
nav ul{
  float: right;
  margin-right: 20px;
}
nav ul li{
  display: inline-block;
  line-height: 80px;
  margin: 0 5px;
}
nav ul li a{
  margin-right: 20px;
  color: white;
  border: 1px solid white;
  background: black;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 5px;
}
a.active,a:hover{
  background: white;
  color: black;
  transition: .5s;
}
.checkbtn{
  font-size: 30px;
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}

.dropbtn {
  margin-right: 20px;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 5px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 143px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 10;
}

.dropdown-content a {
  text-decoration: none;
  display: block;
  background-color: black;
  border: 1px solid white;
  color: white;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 13px;
  border-radius: 5px;
}

.dropdown-content a:hover {
  background-color: #fff;
  color: black;
  border: 1px solid black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.dropdown:hover .dropbtn {
  background-color: white;
  color: black;
}


/*      = = = = = = SLIDER = = = = = = =       */


#slider {
   margin: 80px auto;
   width: 800px;
   max-width: 100%;
   text-align: center;
}
#slider input[type=radio] {
   display: none;
}
#slider label {
   cursor:pointer;
   text-decoration: none;
}
#slides {
   padding: 10px;
   border: 3px solid #ccc;
   background: #fff;
   position: relative;
   z-index: 1;
}
#overflow {
   width: 100%;
   overflow: hidden;
}
#slide1:checked ~ #slides .inner {
   margin-left: 0;
}
#slide2:checked ~ #slides .inner {
   margin-left: -100%;
}
#slide3:checked ~ #slides .inner {
   margin-left: -200%;
}
#slide4:checked ~ #slides .inner {
   margin-left: -300%;
}
#slides .inner {
   transition: margin-left 800ms cubic-bezier(0.770, 0.000, 0.175, 1.000);
   width: 400%;
   line-height: 40px;
   height: 300px;
}
#slides .slide {
   font-size: 40px;
   width: 25%;
   float:left;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100%;
   color: #fff;
}
#slides .slide_1 {
   background: #26DF4B;
}
#slides .slide_2 {
   background: #228B22;
}
#slides .slide_3 {
   background: #008000;
}
#slides .slide_4 {
   background: #006400;
}
#controls {
   margin: -180px 0 0 0;
   width: 100%;
   height: 50px;
   z-index: 3;
   position: relative;
}
#controls label {
   transition: opacity 0.2s ease-out;
   display: none;
   width: 50px;
   height: 50px;
   opacity: .4;
}
#controls label:hover {
   opacity: 1;
}
#slide1:checked ~ #controls label:nth-child(2),
#slide2:checked ~ #controls label:nth-child(3),
#slide3:checked ~ #controls label:nth-child(4),
#slide4:checked ~ #controls label:nth-child(1) {
   background: url(https://image.flaticon.com/icons/svg/130/130884.svg) no-repeat;
   float:right;
   margin: 0 -50px 0 0;
   display: block;
}
#slide1:checked ~ #controls label:nth-last-child(1),
#slide2:checked ~ #controls label:nth-last-child(4),
#slide3:checked ~ #controls label:nth-last-child(3),
#slide4:checked ~ #controls label:nth-last-child(2) {
   background: url(https://image.flaticon.com/icons/svg/130/130882.svg) no-repeat;
   float:left;
   margin: 0 0 0 -50px;
   display: block;
}
#bullets {
   margin: 150px 0 0;
   text-align: center;
}
#bullets label {
   display: inline-block;
   width: 10px;
   height: 10px;
   border-radius:100%;
   background: #ccc;
   margin: 0 10px;
}
#slide1:checked ~ #bullets label:nth-child(1),
#slide2:checked ~ #bullets label:nth-child(2),
#slide3:checked ~ #bullets label:nth-child(3),
#slide4:checked ~ #bullets label:nth-child(4) {
   background: #444;
}

/*      = = = = = = BASIC INFO = = = = = = =       */

.info {
  width: 90%;
  margin: auto;
  padding-top: 40px;
  color: #803922;
  top: 50%;
  left: 50%;
  text-align: center;
}

.info h1 {
  font-size: 62px;
  font-weight: 600px; 
}

.info p {
  margin: 10px 0 40px;
  font-size: 25px;
  color: #943922;
}

.click {
  display: inline-block;
  text-decoration: none;
  color: #803922;
  border: 2px solid #803922;
  padding: 12px 34px;
  font-size: 18px;
  background: transparent;
  position: relative;
  cursor: pointer;
}

.click:hover {
  border: 1px solid #9462f2;
  background: #9462f2;
  transition: .8s;
  font-weight: 600;
}

.row {
  padding-top: 40px;
  margin-top: 5%;
  display: flex;
  justify-content: space-between;
}

.info-col {
  color: white;
  flex-basis: 31%;
  background: #262626;
  border-radius: 10px;
  margin-bottom: 5%;
  padding: 20px 12px;
  box-sizing: border-box;
  transition: .7s;
}

  .info-col h3 {
    font-size: 23px;
    margin: 10px 0
  }
  .info-col p {
    margin: 15px 30px;
    font-size: 18px;
    color: #f3c383;
    text-align:justify;
  }

  .info-col:hover {
    box-shadow: 0 0 20px 0 rgba(154,18,179,10.6);
  }


/*      = = = = = = SKILLS = = = = = = =       */

.skills {
  width: 95%;
  margin: auto;
  text-align: center;
  padding-top: 20px;
  background-size: cover;
  background: black;
  background-position: center;
  color: white !important;
  background-attachment: fixed;
  padding-bottom: 50px;
  border-radius: 25px;
}

.skills h1 {
  margin: 15px 20px;
  color: white; 
  font-size: 62px;
  font-weight: 600px
}
.row-skills {
  padding-top: 10px;
  margin: 20px;
  display: flex;
  justify-content: space-between;
} 

.skills-col {
  color: white;
  flex-basis: 31%;
  background: #262626;
  border-radius: 10px;
  padding: 12px 25px;
  box-sizing: border-box;
  transition: .7s;
}

  .skills-col h3 {
    font-size: 23px;
    margin: 12px 20px;
    text-align:center;
  }
  .skills-col p {
    margin: 15px 30px;
    font-size: 18px;
    color: #f3c383;
    text-align:center;
  }

  .skills-col:hover {
    box-shadow: 0 0 20px 0 rgba(999,999,99,0.6);
  }


/*      = = = = = = RESPONSIVE = = = = = = =       */

@media (max-width: 952px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    font-size: 16px;
  }
}


@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #262622;
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
    z-index: 40;
  }
  nav ul li{
    display: block;
    margin: 30px 0;
    line-height: 30px;
  }
  nav ul li a{
    font-size: 20px;
    padding: 10px 111px;
  }
  a:hover,a.active{
    background: white;
    color: black;
    border: 1px solid black;
  }
  #check:checked ~ ul{
    left: 0;
  }
  .dropbtn {
    left: 0;
    padding: 10px 80px;
  }
  .dropdown-content {
  min-width: 275px;
  }


/*      = = = = = = SLIDER = = = = = = =       */


 #slides .slide {
    font-size: 35px;
  }
  #slides .inner {
    line-height: 40px;
  }
  #slides {
      max-width: calc(100% - 150px);
      margin: 0 auto;
   }


/*      = = = = = = SKILLS = = = = = = =       */

   .row {
    padding-top: 28px;
    flex-direction: column;
   }

   .row-skills {
    padding: 0px 20px 20px 20px;
    flex-direction: column;
   }

   .skills-col {
    margin: 20px;
   }

}

@media screen and (max-width: 500px) {

  /*      = = = = = = SLIDER = = = = = = =       */
  
  #slides .slide {
    font-size: 28px;
  }
  #slides {
      max-width: calc(100% - 160px);
      margin: 0 auto;
   }
  .info h1 {
    font-size: 25px;
  }
  .info p {
    font-size: 18px;
  }

}


@media screen and (max-width: 900px) {
   #slide1:checked ~ #controls label:nth-child(2),
   #slide2:checked ~ #controls label:nth-child(3),
   #slide3:checked ~ #controls label:nth-child(4),
   #slide4:checked ~ #controls label:nth-child(1),
   #slide1:checked ~ #controls label:nth-last-child(1),
   #slide2:checked ~ #controls label:nth-last-child(4),
   #slide3:checked ~ #controls label:nth-last-child(3),
   #slide4:checked ~ #controls label:nth-last-child(2) {
      margin: 0;
   }
   #slides {
      max-width: calc(100% - 140px);
      margin: 0 auto;
   }
}

.info {
      padding-top: 10px;
}
